# Example GitHub Packages auth for quickspaces-control-plane-api-client
# Do not commit your personal access token to source control.

@utopikcode:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${PAT}
